* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

.game {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  margin: auto;
  margin-top: 100px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 0;
  text-align: center;
  font-size: 80px;
  font-family: sans-serif;
}

.box:hover {
  background-color: antiquewhite;
}

#a1,
#a4,
#a2,
#a5 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#a3,
#a6 {
  border-bottom: 2px solid black;
}
#a7,
#a8 {
  border-right: 2px solid black;
}

.winnerDisp {
  margin: 100px auto;
}
.declaration,
.status {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}
.no {
  margin: 10px 30% 10px 30%;
  box-shadow: 0px 10px 12px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 12px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 12px -7px rgba(0, 0, 0, 0.75);
}
.reset {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 5px auto;
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
.reset:hover {
  background-color: rgb(29, 27, 27);
  color: white;
  cursor: pointer;
  box-shadow: 0px 10px 12px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 12px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 12px -7px rgba(0, 0, 0, 0.75);
}
